/* ROOT */

:root {
    color-scheme: light dark;

    --particle-color-dark: #333;
    --particle-color-light: #ffffff; 
  }


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 1.5rem;
    overflow:hidden;

    /* for side navbar */
    /* display:flex;
    flex-direction: row;
    gap:15px; */
}


/* NAVBAR */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: white;
}
#settingsButton {
  margin-left:auto;
}
.left-buttons {
  display:flex;
  gap:10px;
}
.navbar button{
  width: 100px;
  margin-right:0.25rem;
}

/*NAVBAR ON THE SIDE */
/* nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: white;
}
#settingsButton {
  margin-top:auto;
}
.left-buttons {
  display:flex;
  flex-direction: column;
  gap:10px;
}
.navbar button{
  width: 100px;
  margin-right:0.25rem;
} */
/*END NAVBAR ON THE SIDE */


.material-icons {
  /* font-size: 24px; */
  font-size: 20px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.buttonColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button1 {
  width: 100px;
  height: 100px;
  padding: 10px 20px; 
  border-radius: 50px;
  margin:0.5rem;
  border: 2px solid white;

  /* background-color:rgba(255, 255, 255, 0.5); */
  background:rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, background 0.2s;
}

.button2 {
  width: 105px;
  height: 105px;
  padding: 20px; 
  border-radius: 40px;
  margin:0.5rem;
  border: 2px solid white;

  background:rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, background 0.2s;
}

.button1:hover {
  transform: scale(1.05);
}

.button1:active{
  --scale-factor:0.95;
  transform: scale(var(--scale-factor));
  background: white;
}

.button2:hover {
  transform: scale(1.05);
}

.button2:active{
  --scale-factor:0.95;
  transform: scale(var(--scale-factor));
  background: white;
}

.buttonInSettings{
  margin-right: 0.25rem;
}

.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  height:400px;
}
.logoImg {
  width:400px;
  height:400px;
}

.spinnerDiv {
  position:relative;
  margin-top:5rem;
  margin-left:3rem;
  margin-right:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position:relative;
  width:250px;
  height:250px;

  border-radius: 50%;
}

.spinnerCircle {
  position:absolute;
  width:75px;
  height:75px;

  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.spinnerCircleCenter {
  position:absolute;
  /* width:35px;
  height:35px; */
  width:50px;
  height:50px;

  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.line {
  position: absolute;
  background-color: white;
  width: 5px;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.switcherDiv {
  position:relative;
  align-items: center;
  display:grid;
  width:200px;
  height:100px;
  border-radius: 100px;
  border: 3px solid white;
}

.switcherCircle {
  position:relative;
  height:90px;
  width:90px;
  border-radius: 100px;
  background-color: #333;
  transition: transform 0.3s;
  margin-left:5px;
  margin-right: 5px;
}
  
  @media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
    :root {
      --particle-color: var(--particle-color-light);
    }
    .logo {filter:invert()}
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: #333; }
    /* .logo {filter:invert()} */
    .spinnerCircle {background-color: #333;}
    .spinnerCircleCenter {background-color: rgb(51, 51, 51);}
    .line {background-color: #333;}
    .topLeftText{ color:#333}
    .bottomRightText{color:white}
    .switcherDiv {border: 3px solid #333333}
    :root {
      --particle-color: var(--particle-color-dark);
    }
  }