:root {
    color-scheme: light dark;

    --particle-color-dark: #333;
    --particle-color-light: #ddd; 
    --canvas-colorelement-dark: #ddd;
    --canvas-colorelement-light: #333;
  }


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 1.5rem;
    overflow:hidden;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: white;
}
#settingsButton {
  margin-left:auto;
  justify-content: center;
}
.settingsButtonHomepage {
  /* margin-left:auto; */
  /* justify-content: center; */
  position:absolute;
  z-index: 100;
}

.navbarButton{
  margin-left:auto;
  justify-content: center;
}
.left-buttons {
  display:flex;
  gap:10px;
  /* align-items: center; */
}
.navbar button{
  width: 100px;
  margin-right:0.25rem;
}


.material-icons {
  font-size: 24px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.buttonColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button1 {
  width: 100px;
  height: 100px;
  padding: 10px 20px; 
  border-radius: 50px;
  margin:0.5rem;
  /* border: 2px solid white; */
  border: 0px solid white;

  background:rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, background 0.2s;
}

.button2 {
  width: 105px;
  height: 105px;
  padding: 20px; 
  border-radius: 40px;
  margin:0.5rem;
  border: 2px solid white;

  background:#333;
  /* background:rgba(255, 255, 255, 0.5); */
  transition: transform 0.3s ease, background 0.2s;
}

.button2toggled {
  width: 105px;
  height: 105px;
  padding: 20px; 
  border-radius: 40px;
  margin:0.5rem;
  border: 2px solid white;

  /* background:white; */
  background:rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, background 0.2s;
}

.button1:hover {
  transform: scale(1.05);
}

.button1:active{
  --scale-factor:0.95;
  transform: scale(var(--scale-factor));
  /* background: white; */
  background: #333;
}

.button2:hover {
  transform: scale(1.05);
}

/* .button2:active{
  --scale-factor:0.95;
  transform: scale(var(--scale-factor));
  background: white;
} */

.buttonInSettings{
  margin-right: 0.25rem;
}

.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  height:400px;
}
.logoImg {
  width:400px;
  height:400px;
}

.spinnerDiv {
  position:relative;
  margin-top:6rem;
  margin-left:3rem;
  margin-right:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position:relative;
  width:250px;
  height:250px;

  border-radius: 50%;
}

.spinnerCircle {
  position:absolute;
  width:75px;
  height:75px;

  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.spinnerCircleCenter {
  position:absolute;
  width:50px;
  height:50px;

  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.line {
  position: absolute;
  background-color: white;
  width: 5px;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.switcherDiv {
  position:relative;
  align-items: center;
  display:grid;
  width:200px;
  height:100px;
  border-radius: 100px;
  border: 3px solid white;
  margin: 0.5rem;
}

.switcherDivHalf {
  position:relative;
  align-items: center;
  display:flex;
  /* width:137.5px;
  height:100px; */
  /* width:131.5px;
  height:94px; */
  width:132.5px;
  height:90px;
  border-radius: 0 100px 100px 0 ;
  /* border: 5px solid #333; */
  border-left: 0;
}

.switcherDivVertical {
  position:relative;
  align-items: center;
  /* display: grid; */
  display: grid;
  width:100px;
  height:350px;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
}

.switcherDivVerticalLine {
  position:relative;
  display:grid;
  width:10px;
  height:350px;
  border-radius: 100px;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
  /* background: rgba(225, 225, 225, 0.5); */
}

.switcherCircle {
  position:relative;
  height:90px;
  width:90px;
  border-radius: 100px;
  background-color: #333;
  transition: transform 0.3s;
  margin-left:5px;
  margin-right: 5px;
}

.switcherCircleVerticalOutline {
  display:flex;
  position:relative;
  height:60px;
  width:60px;
  border-radius: 100px;
  background-color:#333;
  transition: transform 0.3s;
  align-items: center;
  justify-content: center;
}
.switcherCircleVerticalFill {
  position:absolute;
  height:50px;
  width:50px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.3s;

}

.resetButton {
  position:absolute;
  display: flex;
  width:70px;
  height:50px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.hoop{
  position:absolute;
  display: flex;
  width:70px;
  height:50px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

  
  @media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
    :root {
      --particle-color: var(--particle-color-light);
      --canvas-colorelement: var(--canvas-colorelement-light)
    }
    .logo {filter:invert()}
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: #333; }

    .spinnerCircle {background-color: #333;}
    .spinnerCircleCenter {background-color: rgb(51, 51, 51);}

    .line {background-color: #333;}
    /* .switcherDiv {border: 3px solid #333333} */
    .switcherDiv {border: 0px solid #333333}
    .switcherCircleVerticalFill {background-color: rgba(51,51,51,0.5);}
    .switcherDivVerticalLine {border:3px solid #333; background-color: #333;}
    .switcherCircleVerticalOutline {background-color: #ddd;}

    .button1 {background:#333; border: 0px solid #333;}
    .button1:active{filter:invert();transition:transform 0.3s} 
    /* .button1:active {background: #333;} */

    /* .button2 {background: rgba(255, 255, 255, 0.5); border: 2px solid #333}; */
    /* .button2:active {background:rgba(51,51,51,0.5)};  */
    .button2{border:0}
    .button2toggled {background:rgba(51,51,51,0.5)}
    /* .button2 {filter:invert()} */
    /* .button1:active {background:rgba(255,255,255, 0.5)}; */
    :root {
      --particle-color: var(--particle-color-dark);
      --canvas-colorelement: var(--canvas-colorelement-dark)
    }
  }