:root {
    color-scheme: light dark;
    --particle-color-dark: #333;
    --particle-color-light: #ddd; 
    --canvas-colorelement-dark: #ddd;
    --canvas-colorelement-light: #333;
  }

body {

  /* OLD STYLE: add below back to body and remove .bodyCenter */

    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 1.5rem;
    overflow:hidden; */

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin:0;

    overflow:hidden;
}

.bodyCenter {
  margin: auto;
  max-width: 38rem;
  padding: 1.5rem;
  padding-top:0;
  /* overflow:hidden; */
}

#navbarRoot {
  background-color: #494949;
}

/* TAB EXPERIMENTS */
.tabs {
  height:45px;
  padding: 0 0 0 0;
  overflow:visible;
}
.tab {
  /* width:100px; */
  width:60px;
  height:45px;
  overflow:hidden;
  float:left;
  margin:0 -15px 0 0;
}

.tab-box {
  height:50px;
  background: rgb(221, 221, 221,0.5);
  border-radius: 4px;
  border:1px solid #ccc;
  margin:0 10px 0;
  box-shadow: 0 0 2px  #fff inset;
}

.tab.active {
  z-index:40;
  position:relative;
  /* padding-bottom:1px; */
}
.tab.active .tab-box{
  /* background-color: rgb(221, 221, 221); */
  background-color:#333;
}

.content {
  z-index:1;
  padding:100px;
  border:1px solid #ccc;
  background:#ddd;
  position:relative;
  
}
/* TAB EXPERIMENTS */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: white;
}

.settingsButton {
  margin-left:auto;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  padding-bottom:1px;
}

/* OLD NAVBAR BUTTON */
/* .navbarButton{
  display:flex;
  margin-left:auto;
  padding-top: 1px;
  padding-bottom:1px;
} */

.navbarLeft{
  display:flex;
  gap:7px;
}

.navbarButton{
  display:flex;
  margin-left:auto;
  padding-top: 1px;
  padding-bottom:1px;

  /* background: rgb(221, 221, 221,0.5); */
  /* border-radius: 4px; */
  /* border:1px solid #ccc; */
  /* box-shadow: 0 0 2px  #fff inset; */
}

/* .navbarButton:active{
  background-color: #333;
} */

/* .navbar button{
  width: 100px;
  margin-right:0.25rem;
} */

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.buttonColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button1 {
  width: 100px;
  height: 100px;
  padding: 10px 20px; 
  border-radius: 50px;
  margin:0.5rem;
  border: 0px solid white;

  background:rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, background 0.2s;
}

.button1:hover {
  transform: scale(1.03);
}

.button1:active{
  --scale-factor:0.95;
  transform: scale(var(--scale-factor));
  background: #333;
  border: 2px solid rgba(255, 255, 255, 0.5)
}

.button2 {
  width: 105px;
  height: 105px;
  padding: 20px; 
  border-radius: 40px;
  margin:0.5rem;
  border: 0;
  background:rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, background 0.2s;
}

.button2toggled {
  width: 105px;
  height: 105px;
  padding: 20px; 
  border-radius: 40px;
  margin:0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background:#333;
  transition: transform 0.3s ease, background 0.2s;
}

.button2:hover {
  transform: scale(1.03);
}

.buttonInSettings{
  margin-right: 0.25rem;
}

.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  height:400px;
}
.logoImg {
  width:400px;
  height:400px;
}

.spinnerDiv {
  position:relative;
  margin-top:6rem;
  margin-left:3rem;
  margin-right:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position:relative;
  width:250px;
  height:250px;

  border-radius: 50%;
}

.spinnerCircle {
  position:absolute;
  width:75px;
  height:75px;
  background-color: #ddd;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.spinnerCircleCenter {
  position:absolute;
  width:50px;
  height:50px;
  background-color: #ddd;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}

.line {
  position: absolute;
  background-color: #ddd;
  width: 5px;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.switcherDiv {
  position:relative;
  align-items: center;
  display:grid;
  width:200px;
  height:100px;
  border-radius: 100px;
  border: 3px solid white;
  margin: 0.5rem;
}

.switcherDivHalf {
  position:relative;
  align-items: center;
  display:flex;
  width:138px;
  height:100px;

  border-radius: 0 100px 100px 0 ;
  border-left: 0;
}

.switcherDivVertical {
  position:relative;
  align-items: center;
  display: grid;
  width:100px;
  height:350px;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
}

.switcherDivVerticalLine {
  position:relative;
  display:grid;
  width:10px;
  height:350px;
  border-radius: 100px;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
}

.switcherCircle {
  position:relative;
  height:90px;
  width:90px;
  border-radius: 100px;
  background-color: #333;
  transition: transform 0.3s;
  margin-left:5px;
  margin-right: 5px;
}

.switcherCircleHorizontal {
  position:relative;
  height:90px;
  width:90px;
  border-radius: 100px;
  background-color: #ddd;
  transition: transform 0.3s;
  margin-left:5px;
  margin-right: 5px;
}

.switcherCircleVerticalOutline {
  display:flex;
  position:relative;
  height:60px;
  width:60px;
  border-radius: 100px;
  background-color:#333;
  transition: transform 0.3s;
  align-items: center;
  justify-content: center;
}
.switcherCircleVerticalFill {
  position:absolute;
  height:50px;
  width:50px;
  border-radius: 100px;
  background-color: #ddd;
  transition: transform 0.3s;
}

.resetButton {
  position:absolute;
  display: flex;
  width:70px;
  height:50px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.hoop{
  position:absolute;
  display: flex;
  width:70px;
  height:50px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

  @media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
    :root {
      --particle-color: var(--particle-color-light);
      --canvas-colorelement: var(--canvas-colorelement-light)
    }
    .logo {filter:invert()}
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: #333; }

    #navbarRoot {background-color: rgba(255,255,255,0.5);}

    .spinnerCircle {background-color: #333;}
    .spinnerCircleCenter {background-color: rgb(51, 51, 51);}

    .line {background-color: #333;}

    .switcherDiv {border: 3px solid #333333}
    .switcherCircleVerticalFill {background-color: #333;}
    .switcherDivVerticalLine {border:3px solid #333; 
    }
    .switcherCircleVerticalOutline {background-color: #ddd;}
    .switcherCircleHorizontal {background-color:#333}

    .button1 {background:#333; border: 0px solid #333;}
    .button1:active{background: #ddd; border: 2px solid #333;} 

    .button2{background:#333; border:0px solid}
    .button2toggled {background:#ddd; border:2px solid #333}

    :root {
      --particle-color: var(--particle-color-dark);
      --canvas-colorelement: var(--canvas-colorelement-dark)
    }
    .navbarButton {  color: #333;}
    .settingsButton { color: #333}
  }